.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  min-width: 50px;
}

.image {
  width: calc(100% - 1rem);
  max-width: 700px;
  margin-top: 1rem;
}
